<!DOCTYPE html>
<html>
<head>
    <title>Login - Banterbird</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Welcome to Banterbird</h2>
        <input id="usernameInput" placeholder="Enter Username"/>
        <br><br>
        <button onclick="login()">Login</button>
    </div>

    <script>
        function login() {
            const username = document.getElementById('usernameInput').value.trim();
            if(username.length > 0){
                localStorage.setItem("username", username);
                window.location.href = '/';
            }
            else {
                alert("Please enter username");
            }
        }
    </script>
</body>
</html>